/* Define application-wide selectors here!*/
@use "../variables" as *;

html {
  position: relative;
  height: 100%;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: "Times New Roman", serif;
  font-size: 12px;
}

#sections-sidebar-btn,
#search-modal-btn {
  position: relative;
  background-color: inherit;
  color: black;
  font-weight: 900;
  padding: 8px;
  border-radius: 5%;
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  margin: 0 9px;
  cursor: pointer;
  display: flex;
  gap: 15px;
}

#sections-sidebar-btn:hover,
#search-modal-btn:hover {
  background-color: rgba(246, 246, 246, 0.874);
}

hr {
  border: 0;
  height: 1px;
  background-color: $light-gray;
}

.hr-top,
.hr-bottom {
  width: 100%;
  margin: 0;
}

.hr-top {
  height: 2px;
  margin-bottom: 1px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
}

.left-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-button {
  position: relative;
  background-color: #5284b7ee;
  color: whitesmoke;
  font-weight: bolder;
  padding: 8px;
  border-radius: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 13 px;
  text-align: center;
  margin: 0 4px;
  cursor: pointer;
  display: flex;
}

.right-button:hover {
  background-color: rgb(35, 96, 175);
}

.gear {
  position: relative;
  background-color: inherit;
  color: black;
  font-weight: 900;
  padding: 8px;
  border-radius: 5%;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0 6px;
  cursor: pointer;
}

.gear:hover {
  background-color: rgba(246, 246, 246, 0.874);
}

#gear-dropdown {
  display: none;
}

#gear:hover .gear-dropdown-hidden {
  background-color: grey;
  display: block;
  position: absolute;
  flex-direction: column;
}  

#gear:hover #gear-dropdown li ul {
  display: flex;
  flex-direction: column;
}

#gear-dropdown:hover {
  display: block;
  flex-direction: column;
}

